.main {
    margin: 0 auto;
    width: 100%;
}

.col {
    height: 500px;
    width: 31%;
    border: 3px solid red;
    float: left;
    margin-top: 107px;
    margin-left: 7px;
    margin-bottom: 7px;
    padding: 5px 5px 5px 5px;
}


.col p {
    text-align: justify;
}

.audio {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.col-img {
    width: 100%;
}

.col h1 {
    text-align: center;
}